<link rel="stylesheet" href="public/css/portfolio.css">
{{!-- Import header default --}}
{{> headerDefault}}
{{!-- Sites Portfólio --}}
<section class="portfolio-sites" data-aos="fade-up" data-aos-duration="1000">
    <div class="container-default">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h1>Portifólio</h1>
            </div>
        </div>
        {{#each sites}}
        <div class="row" id="{{idSection}}">
            <div class="col-12 pt-5 text-center-mobile">
                <h4 class="subtitle">{{title}}</h4>
            </div>
        </div>
        <div class="row d-block-mobile p-3">
            <div class="col p-0">
                <img src="{{imgPath}}" alt="preview">
            </div>
            <div class="col">
                <p class="paragraph-portfolio">{{text}} <a href="{{link}}" target="_blank">{{link}}</a></p>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</section>
{{!-- Social Mídia Portfólio --}}
<section class="portfolio-social pb-5">
    <div class="container-default">
        {{#each socialMidia}}
        <div class="row" id="{{idSection}}">
            <div class="col pt-5 text-center-mobile">
                <h4 class="subtitle">{{title}}</h4>
            </div>
        </div>
        <div class="row pt-4 d-block-mobile">
            <div class="col justify-content-center">
                <div class="container-img-social"><img src="{{imgPath1}}"></div>
            </div>
            <div class="col">
                <div class="container-img-social bottom"><img src="{{imgPath2}}"></div>
            </div>
            <div class="col-6 width-mobile">
                <p class="paragraph-portfolio">{{text}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    </div>
</section>